*{
  margin: 0;
  padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition:all .52s;
  transition:all .52s;
  -webkit-transition-delay:.1s;
          transition-delay:.1s;
          -webkit-transform-origin: top;
                  transform-origin: top;
  background-position: center;
  background-size: cover;
  opacity: 1;
  /* border:1px solid black; */
}
img{max-width: 100%}

body{
  font-family: 'Playfair Display', serif;
  background-color: #31572C;
  height: 100vh;
}
/* modular class */



.full-width{
  width: 100%;
}
.full-screen-height{
  min-height: 100vh;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vert-center{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.horizontal-center{-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.vert-even-spaced{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header{
  min-height: 100vh;
  overflow: hidden;
}


/* navgation */

.horizontal-sec{
  /* background-attachment: fixed; */
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
              min-width: 33%;
}

.sec{
  min-height: 100vh;
  /* max-height: 999999vh; */
  /* margin: auto; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.inactive{
  font-size: 0;
  overflow: hidden;
  margin: 0;
  border: none;
  opacity: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0;
}
.inactive img{
  max-width:0;
}
.inactive .overlay{
  width: 0;
  height: 0;
}
.active{
  min-height: 100vh;
  min-width: 100vw;
}

.inactive.horizontal-sec{
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: 0.000000001px;
  min-width: 0.000000001px;
}
.inactive.sec{
  height:0.0000000001px;
  min-height: 0.00000000001px;

}


.svg-button-case{
  padding: 0.3rem .3rem 0.1rem;
}

svg{
  fill:black;
  width: 2rem;

}

/* type */

h1,h2,h3,h4,h5,h6{
  font-family: 'Alice', serif;
}

h1,h2,h3,h4,h5,h6,p{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    margin: 1em;
}


/*  bg  */
.overlay-parent{
position: relative;
}

.overlay{
  background-color: rgba(255,255,255,.4);
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay:hover{
  background-color: rgba(255,255,255,.0);

}

[class*='bg']{
  background-position: center;
  background-size: cover;
  min-height: 40vh;
}

.mentor header{
  background-image: url("/img/mentor.jpg");
}
.developer header{
  background-image: url("/img/mentor.jpg");
}

.mans header{
  background-image: url("/img/mentor.jpg");
}

/* grid's */

.alt-div:nth-child(2n){
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
       -ms-flex-direction: row-reverse;
           flex-direction: row-reverse;
}
.alt-div [class*='bg']{
  margin: 1rem;
}
